#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 200px;
}

#image {}

#button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

/* .off {
    background-color: rgb(181, 247, 181);
    border-radius: 39px;
    box-shadow: 8px 8px 20px #c7c7c7,
        -8px -8px 20px #f9f9f9;
}

.on {
    background-color: rgb(248, 183, 183);
    border-radius: 39px;
    box-shadow: 8px 8px 20px #c7c7c7,
        -8px -8px 20px #f9f9f9;
} */