#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 200px;
}

#button {
    border: none;
    width: 130px;
    height: 60px;
    border-radius: 10px;
    font-weight: 900;
    line-height: 100%;
    text-align: center;
    letter-spacing: 2px;
}

.off {
    border-radius: 35px;
    box-shadow: 8px 8px 20px #c7c7c7,
        -8px -8px 20px #f9f9f9;
}

.on {
    border-radius: 35px;
    box-shadow: 8px 8px 20px #c7c7c7,
        -8px -8px 20px #f9f9f9;
}